:root {
  height: 100%;
  --main-font: "Roboto", sans-serif;
  --projects-background-color: #3b3f49;
  --projects-opposite-color: #fdfaeb;
  --navbar-background-color: #f3c6b9;
  --navbar-opposite-color: #3b3f49;
}
